{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Station Details</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Callsign</th>
                    <th>Name</th>
                    <th>Source</th>
                </tr>
            </thead>
            <tbody>
                {% for station in stations %}
                <tr>
                    <td>{{ station.callsign_normal }}</td>
                    <td>{{ station.name }}</td>
                    <td>{{ station.source }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
